body{
    margin: 0;
    padding: 0;
    background-color: rgb(105, 105, 214);
    color: white;
    overflow-x: hidden;
}
@font-face {
    font-family: nexon light;
    src: url("/asset/default/font/nexon light.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: nexon bold;
    src: url("/asset/default/font/nexon bold.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
